<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <insert id="memberinsert">
        insert into member (mid, mpass, mpass_check, mname) values (#{mid}, #{mpass}, #{mpass_check}, #{mname});
    </insert>

    <select id="loginAction" parameterType="vo.LoginVO" resultType="vo.LoginVO">
        select mid , mpass , mname from member where mid = #{mid} and mpass = #{mpass}
    </select>
</mapper>